
<div class="container">
    <div class="row">
       <div class="col-lg-2 btn-add-product">
          <p><a routerLink="add">Cadastrar Filme</a></p>
       </div>
       <div class="col-lg-9">
          <div class="lg-form mt-0">
             <input class="form-control" type="text" placeholder="Buscar Filmes" aria-label="Search" [(ngModel)]="filter"> 
          </div>
       </div>
    </div>
 </div>
 <div class="product-container">
    <div *ngFor="let product of filteredProducts">
       <div class="product-card">
          <img class="product-header" [ngStyle]="{background: product.posterPath | bgUrl}"/>
          <div class="product-content">
             <div class="product-content-header">
                <a href="#">
                   <h3 class="product-title">{{product.title}}</h3>
                </a>
                <div>
                   
                    <div class="card-price header-info">{{product.price | currency:'BRL':true:'1.2-2' }}</div>
                    <div class="product-quantity header-info" *ngIf="product.stock.quantity > 0">{{product.stock.quantity}} Disponiveis</div>    
                    <div class="product-unavailable header-info" *ngIf="product.stock.quantity ==0">Indisponivel</div>
                    <button class="btn-add-cart"  (click)="addItemToRent(product)"*ngIf="!productInRent(product) && product.stock.quantity > 0" >Adicionar ao carrinho</button>
                    <button class="btn-remove-cart" (click)="removeToRent(product)"*ngIf="productInRent(product)">Remover da lista</button>
      
                  </div>
             </div>
          </div>
          <!--product-content-->
       </div>
       <!--product-card-->
    </div>
 </div>
