<div #alert></div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="container">
      <form (ngSubmit)="onSubmit()">
      
        <div class="row">
          <div class="col-lg-12">
            <h3>Resumo do Pedido</h3>
            <label for="fname"><i class="fa fa-user"></i> Cliente</label>
            <input type="text" id="fname" name="firstname" value="{{rent.client.name}} {{rent.client.lastName}}" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <div class="container">
              <mat-form-field appearance="fill" class="mt-2">
                <mat-label>Data de Devolução</mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="dateFormControl" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-50">
              <div class="container">
                <label>Cartões Aceitos</label>
                <div class="icon-container">
                  <i class="fa fa-cc-visa" style="color:navy;"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"></i>
                  <i class="fa fa-cc-discover" style="color:orange;"></i>
                  <label>Forma de Pagamento </label>
                  <select class="form-control" (change)="selectOption($event.target.value)">
                    <option value="">...</option>
                    <option *ngFor="let method of keys(paymentMethod)" [ngValue]="paymentMethod[method]">{{method}}</option>
                  </select>
                </div>
              </div>
          </div>
        </div>  
        <div class="row">
          <div class="col-lg-12">
            <div class="container mt-4">
              <h4>Carrinho <span class="price" style="color:black"><b>{{rent.items.length}}</b></span></h4>
              <div *ngFor="let item of rent.items">
                <p><span class="movie-item-title">{{item.product.title}}</span> <span class="price">{{item.price | currency:'BRL':true:'1.2-2' }}</span></p>
              </div>
              <hr>
              <p>Sub Total <span class="price"><b>{{rent.getSubTotal()| currency:'BRL':true:'1.2-2'}}</b></span></p>
              <p>Taxas  <span class="price"><b>{{rent.getTaxes() | currency:'BRL':true:'1.2-2' }}</b></span></p>
              <p><b>Total</b> <span class="price" style="color:black"><b>{{rent.getTotal()| currency:'BRL':true:'1.2-2' }}</b></span></p> 
            </div>
          </div>
        </div>
        <input type="submit"  (click)="scrollToElement(alert)" value="Realizar o Pagamento" class="btn">
      </form>
    </div>
  </div>
  <div class="col-25">
</div>