/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
.fa-shopping-cart{
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 0px;
    padding-left: 18px;
    margin-right:48px;
}
.fa-lg {
    font-size: 2.0em;
    color:#fff;
}
a.cart .cart-basket {
    margin-right:48px;
    text-decoration-line: none;
    font-size: 1rem;
    position: absolute;
    top: 0.5px;
    right: 0.5px;
    width: 18px;
    height: 18px;
    color: rgb(15, 14, 14);
    background-color: #f3ef06;
    border-radius: 80%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
