<div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 p-4 bg-white rounded shadow-sm mb-4">

          <!-- Shopping rent table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Produto</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Preço</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantidade</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remover</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of rent.items">
                    <th scope="row">
                      <div class="p-2">
                        <img src="/assets/images/{{item.product.posterPath}}"  alt="" width="70" class="img-fluid rounded shadow-sm">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">{{item.product.title}}</a></h5><span class="text-muted font-weight-normal font-italic">Category: Sem Categoria</span>
                        </div>
                      </div>
                      <td class="align-middle"><strong>{{item.product.price | currency:'BRL':true:'1.2-2' }}</strong></td>
                      <td class="align-middle"><strong>{{item.product.quantity}}</strong></td>
                      <td class="align-middle"><a (click)="removeToOrder(item.product)" class="text-dark"><i class="fa fa-trash"></i></a>
                      </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="rent.items.length == 0">
            <div scope="row">
              <div class="p-5">
                <h3> O Carrinho de Compras está vazio :(</h3>
                <a routerLink="/movies"> Ir para a lista </a>
              </div>
            </div>
        </div>
          <!-- End -->
        </div>
        <div class="col-lg-4">
            <div class="bg-light rounded-pill px-4 py-4 text-uppercase font-weight-bold">Resumo do Pedido </div>
            <div class="p-4">
              <mat-form-field appearance="fill">
                <mat-label>Data de Devolução</mat-label>
                <input matInput [matDatepicker]="picker1" [min] = "minDate" [formControl]="dateFormControl">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
             
              <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Subtotal </strong><strong>{{getSubTotal() | currency:'BRL':true:'1.2-2' }}</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Taxas</strong><strong>{{calcTaxes(minDate,dateFormControl.value)| currency:'BRL':true:'1.2-2'}}</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                  <h5 class="font-weight-bold">{{getTotal() | currency:'BRL':true:'1.2-2' }}</h5>
                </li>
              </ul><button class="btn btn-dark rounded-pill py-2 btn-block" routerLink="/rent/user-rent" [disabled]="rent.items.length == 0">Preencher dados e Pagar</button>
            </div>
          </div>
      </div>
    </div>
  </div>